<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="Microsoft.*" />
      <package pattern="System.*" />
      <package pattern="System.Management" />
      <package pattern="SkiaSharp" />
      <package pattern="SkiaSharp.Views.*" />
      <package pattern="SkiaSharp.NativeAssets.macOS" />
      <package pattern="SkiaSharp.NativeAssets.Win32" />
      <package pattern="DiscordRichPresence" />
      <package pattern="Newtonsoft.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
